.filtro-imagen {
    max-width: 100%;
    height: auto;
    max-height: 1em;
    margin-bottom: 1%;
}

.filtro-texto {
    margin-left: 3%;
    color: #29317d;
}

.reset-filter {
    margin-top: 5%;
}

.card-body p {
    padding-top: 3px;
}

p {
    padding-bottom: 0;
    margin-bottom: 0;
}

body {
    margin-right: 3%;
}