
table {
    width: 95%;
    border-collapse: collapse;
  }
  
  th, td {
    width: 10%;
    padding: 8px;
    border-top: 1px solid #dddddd;  /* Bordes horizontales */
    border-bottom: 1px solid #dddddd;  /* Bordes horizontales */
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  