table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  width: 6%;
  padding: 8px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

td:first-child {
  color: rgb(62, 158, 214);
  font-weight: bold;
  width: 16%;
}

td:nth-child(2) {
  width: 16%;
}

td:first-child {
  color: rgb(62, 158, 214);
}

td:first-child {
  font-weight: bold;
}

.rojo {
  color: red;
}

.verde {
  color: rgb(24, 143, 24);
}

td img {
  max-width: 55%;
  height: auto;
}

td:nth-child(3),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10) {
  text-align: center;
}