.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container h4 {
  margin: 0;
  margin-right: 8px;
}

.money-input {
  width: 60%;
  margin-left: auto;
}